* {

    margin: 0;

    padding: 0;

}

body{

    font-family: "Microsoft YaHei","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;

    color: #393939;

    font-size: 14px;

}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {

	font-family: "Microsoft YaHei","Lato","Helvetica Neue",Helvetica,Arial,sans-serif;

	font-weight: 100;

}

h1 {font-size: 30px;}

h2 {font-size: 24px;}

h3 {font-size: 16px;}

h4 {font-size: 14px;}

h5 {font-size: 12px;}

h6 {font-size: 10px;}

h3,h4,h5 {margin-top: 5px;font-weight: 600;}

ol, ul {list-style: none;}

a, a:hover, a:focus,a:active {text-decoration: none;outline: none;color: #30373e;}

img {border: none;}

input[type=button]:hover,

input[type=button]:focus,

input[type=button]:active,

input[type=reset]:hover,

input[type=reset]:focus,

input[type=reset]:active,

input[type=submit]:hover,

input[type=submit]:focus,

input[type=submit]:active,

.btn:hover, .btn:focus, .btn:active{

    outline: none;

}

.modal {height: 100%;}

.modal .modal-dialog {top: 20%;}

.bootbox-alert .modal-dialog,.bootbox-confirm .modal-dialog{max-width: 400px;}



.footer, .header, .main{

	width: 100%;

	clear: both;

}

.header {

    height: 650px;

    text-align: center;

    position: relative;

    overflow: hidden;

}

.foot-content, .header-content, .main-content {

	max-width: 1200px;

	width: 1200px;

	clear: both;

    overflow: hidden;

    zoom: 1;

}





.header_nav {

    width: 100%;

    height: 65px;

    position: relative;

    z-index: 1;

}

.header-content {

    height: 65px;

    margin: 0 auto;

    z-index: 2;

}

.header-content .logo {

    width: 147px;

    height: 65px;

    float: left;

    padding:8px 10px 0px 0px;

}

.header-content ul {

    float: left;

    padding: 0 15px;

    height: 65px;

    line-height: 65px;

}

.header-content ul li {

    line-height: 65px;

    height: 65px;

    margin: 0 15px;

    float: left;

}

.header-content ul li a {

    font-size: 16px;

    color: #ffffff;

}

.header-content ul li a:hover{

	color:#008bff;

}

.header-content .login {

    float: right;

    line-height: 65px;

}

.header-content .login ul li#charge {

    width: 96px;

}

.header-content .login ul li#charge a {

    display: inline-block;

    width: 94px;

    line-height: 26px;

    border: solid 1px #ffffff;

    border-radius: 2px;

}

.banner {

    min-width: 100%;

    position: absolute;

    top: 0;

    overflow: hidden;

}

.banner .slide{

	margin: 0 auto;

	text-align: center;

}





.main {

    margin: 0 auto;

    height: auto;

    clear: both;

    overflow: hidden;

}

.main-content {

    margin: 0 auto;

}





.footer{

	background: #2F3239;

	padding-top: 20px;

}

.foot-content{



	margin: 0 auto;

}

.footer_nav {

    width: 1100px;

    height: 220px;

    font-size: 12px;

}

.footer_nav dl {

    float: left;

    padding: 30px 0px 0 160px;

    color: #fff;

}

.footer_nav dl dt {

    line-height: 50px;

    font-size: 16px;

    padding-bottom: 20px;

}

.footer_nav dl dd {

    line-height: 26px;

    color: #ccc;

}

.footer_nav dl dd img{

    width: 120px;

}

.footer_nav dl dd a,.footer_nav dl dd a:hover {

    color: #ccc;

}

.talkqq {

    width: 18px;

    height: 18px;

    display: inline-block;

    background: url("../images/qqkf.png") no-repeat;

    margin-right: 5px;

    position: relative;

    top: 4px;

}

.footer_bot{

    width: 100%;

    background: #151C27;

    color: #ccc;

    font-size: 12px;

    text-align: center;

    padding: 20px 0 10px 0;

    text-align: center;

}









.fc {

    display: table;

    margin-left: auto;

    margin-right: auto;

    clear: both;

}

.H10 {

    height: 10px;

    display: block;

    overflow: hidden;

    clear: both;

}

.H30 {

    height: 30px;

    display: block;

    overflow: hidden;

    clear: both;

}

#bgimg {

    position: fixed;

    top: 0px;

    left: 0px;

    z-index: 1;

    width: 100%;

    height: 100%;

    overflow: hidden;

}

#bgimg img {

    position: absolute;

    width: 100%;

    height: 100%;

}

#login-box {

    display: none;

    position: absolute;

    top: 0;

    left: 0;

    z-index: 5;

    padding: 30px;

    width: 95%;

    max-width: 420px;

    _width: 400px;

    height: auto;

    background: transparent\9\0;

    background: transparent\0;

    _background: transparent;

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7000101a,endColorstr=#7000101a);

    zoom: 1;

    -webkit-border-radius: 15px;

    -moz-border-radius: 15px;

    border-radius: 15px;

    background-color: rgba(0, 25, 41, 0.6);

}

#login-box .form-horizontal {

    display: block;

    width: 260px;

}

#login-box .form-horizontal .form-group {

    margin-right: 0;

    margin-left: 0;

    background-color: #fff;

    border-radius: 6px;

    overflow: hidden;

}

#login-box .form-horizontal .form-group .col-xs-9,

#login-box .form-horizontal .form-group .col-xs-12{

    padding: 0;

}

#login-box .form-horizontal .form-control {

    padding-left: 34px;

    height: 42px;

    border: 0;

    box-shadow: 0 0 0;

    border-radius: 0;

}

#login-box .form-horizontal .control-label{

    color: #393939;

    border-right: 1px solid #ddd;

    padding-top: 2px;

    margin-bottom: 0;

}

#login-box .form-horizontal .form-control-feedback {

    left: 4px;

    top: 12px;

    color: #515567;

    font-size: 20px;

}

.imgcode {

    border-left: 1px solid #ccc;

}

.prompt {

    min-height: 26px;

}

.prompt-error {

    color: #ff8900;

    padding-left: 35px;

    min-height: 30px;

}

.stat {

    width: 100%;

    text-align: center;

}

.stat a {

    color: #FFF;

    font-size: 14px;

}



.order-box .panel .panel-heading {

    background: url(../images/dhbj.png) repeat-x bottom;

    height: 47px;

    padding-top: 8px;

    padding-left: 10px;

    border-bottom: 0;

    position: relative;

}

.order-box .panel .panel-heading span {

    float: left;

    position: absolute;

    margin-top: 0px;

    left: -8px;

    top: 8px;

}

.table{

    font-size: 12px;

    /*margin-bottom: 0px;*/

}

.table tbody tr td {

    vertical-align: middle;

}

.table-bordered thead tr td, .table-bordered thead tr th {

    background: #F3F3F3;

    border-bottom: 0px;

}

.text-green {

    color: #1FA67A;

}

.text-red {

    color: #FF0000;

}

.mt-30{

    margin-top: 30px;

}

.mt-40{

    margin-top: 40px;

}

.mt-50{

    margin-top: 50px;

}

.mr {

    margin-right: 10px !important;

}

.alert-danger {

    background-color: #f05050;

    border-color: rgba(0, 0, 0, 0.1);

    color: #ffffff;

}

.alert-warning {

    background-color: #ff902b;

    border-color: rgba(0, 0, 0, 0.1);

    color: #ffffff;

}

.font-xs{

    font-size: 12px;

}

.order-box .panel .panel-body .form-inline .form-group {

    display: inline-block;

    margin-bottom: 0;

    vertical-align: middle;

}

.cardinfo {

    vertical-align: middle;

    text-align: left;

    border: 1px solid #f00;

    /*color: blue;*/

}

.cardinfo p{

    margin: 0;

}



@media (min-width: 768px){

    .form-inline .form-control {

        display: inline-block;

        width: auto;

        vertical-align: middle;

    }

}

@media (max-width: 768px){

    .table-responsive {

        margin-bottom: 0px;

        border-left: 0;

    }

}

@media (max-width: 480px){

    .panel-body {

        padding: 15px 5px;

    }

    .order-box .panel .panel-body select.form-control {

        width: 80px;

        padding: 4px 0;

    }

    .order-box .panel .panel-body input.form-control {

        width: 180px;

        padding: 6px;

    }

    .order-box .panel .panel-body .btn-success {

        margin: 0;

    }

    .mr {

        margin-right: 5px !important;

    }

}



@media (max-width: 320px){

    .order-box .panel .panel-body select.form-control {

        width: 60px;

    }

    .order-box .panel .panel-body input.form-control {

        width: 150px;

        padding: 6px;

    }

    .order-box .panel .panel-body .btn-success {

        padding: 6px;

    }

    .mr {

        margin-right: 2px !important;

    }

}

.float0831 {

	POSITION: fixed; TOP: 180px; RIGHT: 1px; _position: absolute

}

.float0831 A {

	COLOR: #00a0e9

}

.float0831 A:hover {

	COLOR: #ff8100; TEXT-DECORATION: none

}

.float0831 .floatL {

	POSITION: relative; WIDTH: 28px; FLOAT: left

}

.float0831 .floatL A {

	TEXT-INDENT: -9999px; DISPLAY: block; FONT-SIZE: 0px

}

.float0831 .floatR {

	BACKGROUND: url(../images/float_bg.gif)

}

.float0831 .tp {

	BACKGROUND: url(../images/float_bg.gif)

}

.float0831 .cn {

	BACKGROUND: url(../images/float_bg.gif)

}

.float0831 .floatR {

    WIDTH: 130px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: -131px bottom; FLOAT: left; OVERFLOW: hidden

}

.float0831 .tp {

	BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 0% 0%; HEIGHT: 10px

}

.float0831 .cn {

	BACKGROUND-REPEAT: repeat-y; BACKGROUND-POSITION: -262px 0px

}

.float0831 .cn H3 {

	TEXT-INDENT: -9999px; HEIGHT: 36px; FONT-SIZE: 0px

}

.float0831 .cn UL {

	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 6px; PADDING-TOP: 0px

}

.float0831 .cn UL LI {

	BORDER-BOTTOM: #e6e5e4 1px solid; LINE-HEIGHT: 36px; WORD-WRAP: break-word; HEIGHT: 36px; OVERFLOW: hidden; WORD-BREAK: normal

}

.float0831 .titZx {

	BACKGROUND: url(../images/float_s.gif) no-repeat

}



.float0831 .titZx2 {

	BACKGROUND: url(../images/float_s.gif) no-repeat

}



.float0831 .titZx3 {

	BACKGROUND: url(../images/float_s.gif) no-repeat

}



.float0831 .titDh {

	BACKGROUND: url(../images/float_s.gif) no-repeat

}

.float0831 .titDc {

	BACKGROUND: url(../images/float_s.gif) no-repeat

}

.float0831 .icoZx {

	

}

.float0831 .icoTc {

	BACKGROUND: url(../images/float_s.gif) no-repeat

}

.float0831 .icoDh {

	BACKGROUND: url(../images/float_s.gif) no-repeat

}



.float0831 .icoFf {

	BACKGROUND: url(../images/float_s.gif) no-repeat

}

.float0831 .icoTl {

	BACKGROUND: url(../images/float_s.gif) no-repeat

}

.float0831 .btnOpen {

	BACKGROUND: url(../images/float_s.gif) no-repeat

}

.float0831 .btnOpen_n {

	BACKGROUND: url(../images/float_s.gif) no-repeat

}

.float0831 .btnCtn {

	BACKGROUND: url(../images/float_s.gif) no-repeat

}

.float0831 .titZx {

	BACKGROUND-POSITION: 0px -10px

}

.float0831 .titZx2 {

	BACKGROUND-POSITION: 0px -670px

}

.float0831 .titZx3 {

	BACKGROUND-POSITION: 0px -709px

}

.float0831 .titDh {

	BACKGROUND-POSITION: 5px -66px

}

.float0831 .titDc {

	BACKGROUND-POSITION: 5px -124px

}

.float0831 .icoZx {

	BACKGROUND-POSITION: 2px -154px

}

.float0831 .icoTc {

	BACKGROUND-POSITION: 0px -323px

}

.float0831 .icoDh {

	BACKGROUND-POSITION: 0px -265px

}

.float0831 .icoFf {

	BACKGROUND-POSITION: 2px -213px

}

.float0831 .icoTl {

	PADDING-LEFT: 20px; DISPLAY: block; FONT-FAMILY: "Î¢ÈíÑÅºÚ"; BACKGROUND-POSITION: 2px -266px; FLOAT: left

}

.float0831 .btnOpen {

	BACKGROUND-POSITION: -30px -396px

}

.float0831 .btnOpen_n {

	BACKGROUND-POSITION: 0px -530px

}

.float0831 .btnCtn {

	BACKGROUND-POSITION: 0px -396px

}

.float0831 .icoZx {

	PADDING-LEFT: 1px; DISPLAY: block; FLOAT: left

}

.float0831 .icoTc {

	PADDING-LEFT: 28px; DISPLAY: block; FLOAT: left

}

.float0831 .icoDh {

	PADDING-LEFT: 28px; DISPLAY: block; FLOAT: left

}

.float0831 .icoFf {

	PADDING-LEFT: 28px; DISPLAY: block; FLOAT: left

}

.float0831 .btnOpen {

	POSITION: relative; WIDTH: 28px; HEIGHT: 118px; TOP: 20px; LEFT: 2px

}

.float0831 .btnOpen_n {

	POSITION: relative; WIDTH: 28px; HEIGHT: 118px; TOP: 80px; LEFT: 2px

}

.float0831 .btnCtn {

	POSITION: relative; WIDTH: 28px; HEIGHT: 118px; TOP: 20px; LEFT: 2px

}

.float0831 .btnOpen {

	/*TOP: 118px;*/ 

    

    LEFT: 1px

}

.float0831 .btnOpen_n {

	TOP: 118px; LEFT: 1px

}

.float0831 .btnCtn {

	/*TOP: 118px;*/ 

    LEFT: 2px

}

.float0831 UL LI H3.titDc A {

	WIDTH: 80px; DISPLAY: block; HEIGHT: 36px

}

.float0831 UL LI.top {

	BORDER-BOTTOM: #ace5f9 1px solid

}

.float0831 UL LI.bot {

	BORDER-BOTTOM-STYLE: none

}

.float0831 UL.webZx {

	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 164px; PADDING-RIGHT: 0px; BACKGROUND: url(../images/webZx_bg.jpg) no-repeat; HEIGHT: 130px; PADDING-TOP: 0px

}

.float0831 UL LI.webZx-in {

	BORDER-BOTTOM-STYLE: none; PADDING-LEFT: 5px; HEIGHT: 130px; PADDING-TOP: 8px

}

.footer-box2 {

  background-color: rgba(102, 117, 126);

  z-index:9999;

  color: #ffffff;

  position: fixed;

  bottom: 10px;

  height: 45px;

  width: 100%;

  text-align:center;

}

.footer2 {

margin-top:15px

}

.footer2 a {

    color:#fff

}

