<include file="Public/header"/>
<style>
#date{width:80px;}
</style>
<div class="row">
    <div class="col-md-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>请绑定手机号码</h5>
                <div class="ibox-content">
                    <p class="text-danger">请绑定手机号码</p>
                </div>
            </div>
            <div class="ibox-content">
                <!--用户信息-->
                <form class="layui-form" action="" autocomplete="off" id="profile">
                    <input type="hidden" name="id" value="<{$p.id}>">
                    
                   
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">手机：</label>
                            <div class="layui-input-inline">
                                <input type="text" name="p[mobile]" id="mobile" lay-verify="phone" autocomplete="off"
                                       class="layui-input" value="<{$p.mobile}>">
                            </div>
                        </div>
                        
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">验证码：</label>
                            <div class="layui-inline">
                                <input type="text" name="p[code]" id="date"  placeholder="" autocomplete="off" class="layui-input" value="">
                            </div>
                             <div class="layui-inline">
                              <input type="button" class="layui-btn" value="获取验证码" onclick="shortsms()"/>
                            </div>
                            
                        </div>
                    </div>

               
                   
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="profile">立即提交</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
                <!--用户信息-->
            </div>
        </div>
    </div>
</div>
<include file="Public/footer"/>
<script>
layui.use(['laydate', 'laypage', 'layer', 'form', 'element'], function() {
    var laydate = layui.laydate //日期
        ,layer = layui.layer //弹层
        ,form = layui.form //弹层
        , element = layui.element; //元素操作
    //日期
    /* laydate.render({
        elem: '#date'
    }); */
    //监听提交
    form.on('submit(profile)', function(data){
        $.ajax({
            url:"<{:U('Account/savemobile')}>",
            type:"post",
            data:$('#profile').serialize(),
            success:function(res){
                if(res.status){
                    layer.alert("编辑成功", {icon: 6},function () {
                        parent.location.reload();
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                    });
                }else{
                    layer.alert("操作失败", {icon: 5});
                }
            }
        });
        return false;
    });
});
function shortsms(){
	mobile = $("#mobile").val();
	if(!(/^1[3|4|5|8][0-9]\d{4,8}$/.test(mobile))){ 
		layer.alert("您的手机号码误，请重新输入！", {icon: 5});
		return ;
	  }
	
	url ="<{:U('Home/index/shortsms')}>?mobile=" + mobile;
	$.get(url,function(data){
		if(data.status==1){
			layer.alert("信息发送操作成功 ！", {icon: 6});
		}
	},'json');
	
}
</script>
</body>
</html>